NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_COGNITO_DOMAIN=https://ap-northeast-2h04hbdny8.auth.ap-northeast-2.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=2e9dqb5ceb0o4q69216e64r764
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000/auth/callback
NEXT_PUBLIC_POINT3_ORIGIN=
NEXT_PUBLIC_ASSET_BASE_URL=
